{% extends "layout.html" %}
{% block content %}
<div><img src="static/img/icon.png" alt="Main Logo" width="40vh"> made by <a href="https://www.freepik.com/"
                                                                             title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
</div>
<div>
    <span>Navbar and footer original code: modified bootstrap templates:
        <br>
    Footer: <a href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">https://getbootstrap.com/docs/4.0/examples/sticky-footer/</a>
        <br>
        Navbar: <a href="https://getbootstrap.com/docs/4.0/components/navbar/">https://getbootstrap.com/docs/4.0/components/navbar/</a>
    </span>
</div>
<div>
    <span>404 Page came from: <a
            href="https://bootsnipp.com/snippets/VgBP3">https://bootsnipp.com/snippets/VgBP3</a></span>
</div>

<div>
    <span>Background shape animations on homepage: <a href="https://codepen.io/mohaiman/pen/MQqMyo">https://codepen.io/mohaiman/pen/MQqMyo</a></span>
</div>

{% endblock content %}
