{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class="container card p-3 m-3">
    <p><a href="{{ url_for('account.account', username=get_user_post(post).username) }}" class="d-inline-block">{{ get_user_post(post).username }}</a>
         posted on {{ post.date_posted.strftime("%B %d, %Y") }}</p>

    <div class="card-body">
        <h1 class="text-center" id="post-title">{{ post.title }}</h1>
        <div class="text-center">
            <img src="{{ url_for('static', filename='posts/' + post.image) }}" alt="" class="img-fluid"
                 id="post-img">
        </div>
        <hr>
        <p>{{ post.description }}</p>
        <br>
    </div>
</div>
{% endfor %}
{% endblock content %}
