<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <!--  Bootstrap CSS  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  Bootstrap JS  -->
    <!--  Bootstrap JS  -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--  Main Stylesheet  -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--  Google Font  -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Collectr</title>
</head>
<body>
<div class="container text-center" id="title-container">
    <!-- Enable flash messages -->
    <!-- Dismissible came from bootstrap documentation: (https://getbootstrap.com/docs/4.0/components/alerts/#dismissing) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--  Bubble Background  -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!--  END BUBBLE ANIMATION  -->
    <img src="{{ url_for('static', filename='img/icon.png') }}" alt="" width="200vmax"
         class="img-fluid mx-auto d-block">
    <h1 class="text-center text-light">Collectr</h1>
    <h5 class="text-md-center text-muted" id="slogan">Collect &#x25BE; Share &#x25BE; Discover </h5>
    <div class="container text-center">

    </div>
    <form method="POST" action="" class="form-signin">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <fieldset class="form-group">

            {# First Name #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">
                {% if form.first_name.errors %}
                {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.first_name(class="form-control form-control-lg", placeholder="First Name") }}
                {% endif %}
            </div>

            {# Last Name #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">
                {% if form.last_name.errors %}
                {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.last_name(class="form-control form-control-lg", placeholder="Last Name") }}
                {% endif %}
            </div>

            {# Username #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                {% endif %}
            </div>

            {# email #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                {% endif %}
            </div>


            {# Password#}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                {% endif %}
            </div>

            {# Confirm Password#}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">

                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                {% endif %}
            </div>

            {# Recaptcha #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block center" align="center">

                {% if form.recaptcha.errors %}
                {{ form.recaptcha(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.recaptcha.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.recaptcha(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>
        {# Submit Button#}
        <div class="form-group mx-auto d-block text-center">
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
        <div class="border-top pt-3 text-center">
            <small class="text-muted already-have-account">
                Already Have an Account? <a href="{{ url_for('login.login') }}">Log In</a>
            </small>
        </div>
    </form>
</div>
<br><br>
<footer class="blank-footer">
    <div class="container">
        <p class="text-muted footer-name text-center">Steve Tautonico - 2019</p>
    </div>
</footer>
</body>
</html>