<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
    <!--  Bootstrap CSS  -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!--  Bootstrap JS  -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--  Main Stylesheet  -->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--  Google Font  -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Collectr - Login</title>
</head>
<body>
<div class="container text-center" id="title-container">
    <!-- Enable flash messages -->
    <!-- Dismissible came from bootstrap documentation: (https://getbootstrap.com/docs/4.0/components/alerts/#dismissing) -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--  Bubble Background  -->
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <!--  END BUBBLE ANIMATION  -->
    <img src="{{ url_for('static', filename='img/icon.png') }}" alt="" width="200vmax"
         class="img-fluid mx-auto d-block">
    <h1 class="text-center text-light">Collectr</h1>
    <h5 class="text-md-center text-muted" id="slogan">Login</h5>
    <div class="container text-center">

    </div>
    <form method="POST" action="" class="form-signin">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <fieldset class="form-group">

            {# email #}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg", placeholder="Email") }}
                {% endif %}
            </div>


            {# Password#}
            <div class="form-group col-xs-12 col-sm-8 col-lg-6 mx-auto d-block">

                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                {% endif %}
            </div>

            {# Remember Me Box#}
            <div class="form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <br>
            {# Submit Button#}
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>

        </fieldset>
        <div class="border-top pt-3 text-center">
            <small class="text-muted already-have-account">
                Don't Have an Account? <a href="{{ url_for('home.home') }}">Sign Up</a>
            </small>
        </div>
    </form>
</div>
<br><br>
<footer class="blank-footer">
    <div class="container">
        <p class="text-muted footer-name text-center">Steve Tautonico - 2019</p>
    </div>
</footer>
</body>
</html>